add read support for indefinite-length arrays, maps, strings, and bytes

see [§2.2 of RFC7011](https://tools.ietf.org/html/rfc7049#section-2.2)